* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  font-family: 'Black Han Sans', sans-serif;
}

.menuAll {
  position: static;
}

nav .logo {
  cursor: pointer;
}

nav {
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
}

nav .mainMenu li a:hover {
  background: rgb(43, 29, 134);
}

nav .openMenu {
  font-size: 1.4rem;
  margin: 19px;
  display: none;
  cursor: pointer;
}

nav .openMenu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

nav .mainMenu .closeMenu, .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.fa-instagram:hover {
  color: rgb(250, 69, 237);
  font-size: 4rem;
}

.fa-youtube:hover {
  color: rgb(209, 47, 67);
  font-size: 4rem;
}

.fa-shopping-cart:hover {
  color: rgb(228, 238, 101);
  font-size: 4rem;
}

.fa-at:hover {
  color: rgb(82, 190, 219);
  font-size: 4rem;
}

@media(max-width: 900px) {
  nav .openMenu {
    display: block;
  }

  nav .openMenu.active .bar:nth-child(2) {
    opacity: 0;
  }

  nav .openMenu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  nav .openMenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  nav .mainMenu {
    position: fixed;
    right: -100%;
    top: 67px;
    gap: 0;
    flex-direction: column;
    background-color: ##000000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .mainMenu.active {
    right: 0;
    position: absolute;
    padding-bottom: 20px;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 153, 18);
    font-size: 4rem;
  }

  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

.bg_img {
  width: 100%;
  height: auto;
}

.footer {
  color: #ffffff;
  font-size: 9px;
  padding-left: 0px;
  padding-top: 100px;
  position : relative;
  transform : translateY(-50%);
  text-align: center;
  background-color: transparent;
}
